body {
    background-color: whitesmoke;
}
 
h2 {
    text-align: center;
    font-weight: 100;
    font-size: 38px;
    color: lightblue;
}
 
h3 {
    background: lightblue;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    margin: auto;
    margin-top: -5px;
 
 
}

.ikon {
    width: 20px;
    height: 20px;
}

.footerbox h3 {
    background: none;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    
  
} 
 
.pokemon_info {
    font-size: 0.9em;
    line-height: 1.5em;
 
}
.wrapper {
    margin: auto;
    width: 90%;
    max-width: 960px;
    min-height: 1600px;
    background: white;
 
    margin-left: auto;
    margin-right: auto;
 
}
 
header {
    
    height: 150px;
}
 
.logo {
   
    width: 40%;
    float:left;
}
.logo img{
    width: 100px;
    
}
nav.meny {
   
    width: 60%;
    float: right;
    margin-top: 45px;
    
}
 
 .strand {
    display: block;
    width: 833px;
    height: 300px;

 }
 
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
  }
 
.hehehe {
    width: 30%;
    float:left;
    padding: 10px;
 
}
 
.hehehe img {
    width: 100%;
 
}
 footer {
     width: 50%;
     height: 200px;
     padding-top: 130px;
     
 }
.poke {
    width: 100px;
    height: 200px;
}

.inner_footer {
    background-color:#0094C9;
    width: 833px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;


}
 

.footerbox {
    width: 20%;
    margin-left: 1%;
    height: 300px;

    background: none;
    float: left;
   color: white;
   font-size: 15px;
   padding-left: 95px;
   
   


}

.footerbox img {
    margin-right: 10px;
}


 
nav ul {
    list-style-type: none;
    padding:10px; 
    text-align:right;
}
 
nav li {
    display: inline;
    margin-left: 10px;
    
}
 
nav a {
    text-decoration: none;
    color:grey;
    font-size: 15px;
    text-transform: uppercase;
    background-color: whitesmoke;
    padding:10px;
    padding-bottom: 8px;
    border-radius: 5px;
}
 
nav a:hover {
    background-color: lightblue;
    color:white;
}
 
 
a {
    color: white;
}